@(files: Array[java.io.File], processing: Map[String, String], errors: Map[String, String], success: Map[String, String])

@main("ACM web tools") {
	<h2> Request MARC XML </h2>

	@helper.form(action = routes.MarcController.generate, 'enctype -> "multipart/form-data") {
	   
	    <label class="control-label">Request Marc XML for Resource</label>
	    <table>
		  <tr>
	        <td><label class="control-label">Repository</label></td>
	    	<td><input name="repositoryid" type="text"></td>
	      </tr>
	      <tr>
	    	<td><label class="control-label">Resource ID</label></td>
	    	<td><input name="resourceid" type="text"></td>
	      </tr>
	    </table>
	    <input type="submit" value="Submit" class="btn btn-primary">

	}

	<h2>Completed Requests</h2>
	@for(i <- success) { 
      @defining(i._1 + "_marc.xml") { marc =>
        <a href='@routes.MarcController.download(marc)'/>@marc</a><br>
	  }
	}

    <h2>Requests Currently Processing</h2>
    @for(i <- processing) { <strong>@i._1</strong></br> }

    <h2>Failed Requests</h2>
    @for(i <- errors) { <strong>@i._1</strong></br>  }
    

}